.personSection{
    background-color: #FDFDFE;
    font-family: sans-serif;
    display: flex;
    padding: 10px 5px;
  }
  
  .personSection p{
    color: #434343;
    font-size: 14px;
  }
  
  .personSection h3{
    color: #2c2c2c;
    font-weight: lighter;
  }
  
  .personSection:hover{
    background-color: #F6F7F6;
  }