*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #d1d1d1;
}

.searchInput{
  padding: 10px 0px 10px 30px;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #d1d1d1;
  width: 40vh;
}

.searchInput::placeholder{
  color: #7e7e7e;
  font-size: 14px;
}

.searchIcon{
  color: #6d6c6c;
  position: relative;
  left: 23px;
  font-size: 14px;
}

.searchSection{
  border: 1px solid #d1d1d1;
  padding: 4px 14px 14px 0px; 
  border-top-left-radius: 10px;
  background-color: #f4f3f3;
}

.leftSection{
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d1d1d1;
  width: 30%;
}

.nameSection {
  overflow: scroll;
  overflow-x: hidden;
  height: 71.8vh;
  border-radius: 10px;
  margin-top: 10px;
}